@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500;700;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.slider_1>img{
    border: 1px solid black;
    padding: 5px;
    border-radius: 100px;
    height: 100%;
    width: 40%;
}
.slider_1>img:hover{
    border-color: orange;
    transform: scale(1.1);
    transition: 0.4s;
}
.slider_1:hover{
    color: orange;
    cursor: pointer;
}
.slider_1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    padding: 30px;
}
.image{
    position: relative;
} 
.maqazin{
    transition: 0.4s;
}
.maqazin:hover{
    transform: scale(1.1);
    transition: 0.4;
}

.card1{
    width: 80%;
    margin-bottom: 30px;
}
.search1{
    width: 50%;
}
.bx-chevron-left,
.bx-chevron-right{
    font-size: 45px;
    color: white;
    background-color: orange;
    border-radius: 100px;
}
.clothbtn{
    font-size: 60px;
}

@media(max-width:550px) {
    .maqazin:hover{
        transform: scale(1);
    }
    
}
@media(max-width:768px) {
    .clothbtn{
        font-size: 40px;
    }
    .search1{
        width: 100%;
    }
    .card2{
        width: 100%;
    }
}
@media(max-width:990px) {
    .search1{
        width: 100%;
    }
    .boxitem1{
        margin: 0;
    }
}

.hero{
    z-index: 2;
    background-image: url(chooseus.webp);
    background-size: cover;
    background-attachment:fixed;
    position: relative;
    background-position: center;
}

.overlay{
    position: absolute;
    background-color: yellow;
    z-index: -1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 238, 2, 0.5);
}
.kartlar{
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.kartlar img{
    transition: 0.4s;
}
.kartlar:hover img{
    transform: scale(1.1);
}
.overlay1{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(35, 35, 37, 0.8);
    transition: 0.4s;
    opacity: 0;
    color: white;
}
.overlay1>h3{
    border-top: 3px solid white;
    display: inline;
    padding-top: 5px;
}
.overlay1:hover{
    opacity: 1;
}
.image .img{
    transition: 0.4s;
}
.image:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.image{
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.texth6kart{
    background-color: orange;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 0.4s;
    letter-spacing: 2px;
}